/* You can add custom styles here. */

// @import "plugins/numbered";

ul.breadcrumb {
    padding-right: 16px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 0px;
    padding-left: 16px;
    list-style: none;
    background-color: #eee;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size:.75rem;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.breadcrumb li:first-child{
    display:none;
}

.breadcrumb li:nth-child(2){
    display:none;
}

.breadcrumb li:nth-child(3):before{
    display:none;
}

.next-button{
  text-align: right;
  padding-right: 16px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-top: 0;
  padding-left: 16px;
  list-style: none;
  background-color:  #eee;
  color:  #0275d8;
  text-decoration: none;
  font-size: 0.75rem;
}
